<div class="main row">
  <div class="list col-md-6">
    <table id="video" class="table" width="100%">
      <th>image</th>
      <th>title</th>
      <% @videos.each do |video_data| %>
        <tr id="<%= video_data.video_id %>">
          <td>
            <img src="<%= video_data.img_url %>" alt="" width="240" />
          </td>
          <td>
            <a href="<%= video_data.video_url %>"><%= video_data.title[0..45] + '...' %></a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="video col-md-6">
    <div id="ytplayer"></div>
  </div>
</div>

<script>
$(function(){
  var ws = new WebSocket('ws://' + window.location.host + '/');
  ws.onmessage = function(m) {
    data = JSON.parse(m.data);
    $('#video').append("<tr><td><img src='" + data.video.img_url + "' width='120'></td><td><a href='" + data.video.video_url + "'>" + data.video.title + "</a></td></tr>");
    console.log(m.data);
  };
});

// Load the IFrame Player API code asynchronously.
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var player;
var res = $.getJSON(window.location.origin + "/video_id_list.json");

function onYouTubePlayerAPIReady() {
  player = new YT.Player('ytplayer', {
    height: '390',
    width: '640',
    playerVars: {
      autoplay: 1,
      rel: 0,
      playlist: res.responseJSON.video_id
    },
    events: {
      'onStateChange': onPlayerStateChange
    }
  });
}

function onPlayerStateChange(event) {
  if (event.data == YT.PlayerState.PLAYING) {
    $.ajax({ type: 'POST', url: window.location.origin + '/video_delete/' + player.j.videoData.video_id })
    $('#' + player.j.videoData.video_id).remove();
  }
}
</script>
