<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MusicSystemAdmin</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript">
    $(function(){
      var ws = new WebSocket('ws://' + window.location.host + '/')
      ws.onmessage = function(m) {
        data = JSON.parse(m.data);
        console.log(m.data);
      };
    });
    </script>

    <style>
.main{
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
}
.main .list{
  float:left;
}
.main .video{
  float:left
}
ul{
  list-style: none;
}
    </style>
  </head>
  <body>
    <div class="main">
      <div class="video">
      </div>
      <div class="list">
        <table>
          <%# @videos.each do |video_data| %>
            <tr>
              <td>
                <ul>
                  <li><%#= video_data.title %></li>
                  <li><%#= video_data.video_id %></li>
                  <li><%# video_data.img_url %></li>
                </ul>
              </td>
            </tr>
            <%# end %>
        </table>
      </div>
    </div>
  </body>
</html>
