<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MusicSystem</title>
</head>
<body>
  <form action="search" method="POST">
    <input type="text" name="url" />
  </form>  
  <br>
  <br>
  <br>
  <br>
  <!-- テストコード -->
  <%= $title.to_s %><br>
  <img src="<%= $img.to_s %>" alt=""><br>
  <%= $url.to_s %><br>
  <!-- テストコード -->
</body>
</html>
