<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MusicSystem</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript">
    $(function(){
      var ws       = new WebSocket('ws://' + window.location.host + '/' );
      ws.onopen    = function()  { console.log('websocket opened'); };
      ws.onclose   = function()  { console.log('websocket closed'); };
      $('#submit').click(function (){
      var form_text = $('#input').val();
        console.log(form_text);
          ws.send(form_text);
          font_text.val('  ')
          return false;
        });
    });
    </script>

  </head>
  <body>
    <form id="form">
      <input type="text" id="input" />
      <input type="submit" id="submit" />
    </form>  
  </body>
</html>
