<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MusicSystem</title>
</head>
<body>
  <form action="search" method="POST">
    <input type="text" name="url" />
  </form>  
  <br>
  <br>
  <br>
  <br>
  <%= @puts.to_s %>
</body>
</html>
