body{
  margin: 30px 15% 30px 15%;
}
.main .list{
  float:left;
}
.main .video{
  float:left
}
.video iframe{
  position: fixed;
}

.list table{
  margin-right: 20px;
}


.list td{
  border: 1px solid black;
}
