<script type="text/javascript">
$(function(){
  if (document.location.protocol == "http:") {
    var ws = new WebSocket('ws://' + window.location.host + '/');
  } else {
    var ws = new WebSocket('wss://' + window.location.host + '/');
  }
  ws.onopen    = function()  { console.log('websocket opened'); };
  ws.onclose   = function()  { console.log('websocket closed'); };
  $('#submit').click(function (){
    var form_text = $('#input').val();
    console.log(form_text);
    ws.send(form_text);
    font_text.val('  ')
    return false;
  });
});
</script>

<form id="form">
  <table width="100%">
    <tr>
      <td>
        <input type="text" id="input" class="form-control"/>
      </td>
      <td>
        <input type="submit" id="submit" class="btn btn-outline-info" />
      </td>
    </tr>
  </table>
</form>

<a href="http://youtube.com/" sytle="text-align:center;">YouTubeへ</a>
